<!DOCTYPE html>
<html lang = "en">

	<head>

		<meta charset = "UTF-8">

		<meta name    = "viewport"
			  content = "width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no">

		<link rel   = "icon"
			  href  = "/static/images/favicons/favicon.ico"
			  sizes = "any">

		<link rel  = "icon"
			  href = "/static/images/favicons/favicon.svg"
			  type = "image/svg+xml">

		<link rel  = "apple-touch-icon"
			  href = "/static/images/favicons/apple-touch-icon.png">

		<link rel  = "manifest"
			  href = "/static/configurations/manifest.json">

		<link rel  = "stylesheet"
			  href = "/static/libraries/rhds/rhds.css">

		<script type = "module"
				src  = "/static/libraries/rhds/rhds.js"></script>

		<title>Carbon</title>

	</head>

	<body unresolved>

		<div class = "pfe-c-content layout layout--base">

			<div class = "layout--base--navigation">

				<pfe-card>

					<div class = "pfe-l-bullseye layout--base--navigation--title">

						<img class = "layout--base--navigation--title--image"
							 src   = "/static/images/logos/logo-primary.svg"
							 alt   = "">

						<h2 class = "layout--base--navigation--title--text">Carbon</h2>

					</div>

				</pfe-card>

			</div>

			<div class = "layout--base--page">

				{{ block "page" . }}{{ end }}

			</div>

		</div>

	</body>

</html>
